{% extends 'base.html.twig' %}

{% block title %}Detalles index{% endblock %}

{% block body %}
    <h1>Detalles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameOne</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalle in detalles %}
            <tr>
                <td>{{ detalle.id }}</td>
                <td>{{ detalle.nameOne }}</td>
                <td>{{ detalle.title }}</td>
                <td>
                    <a href="{{ path('app_detalles_show', {'id': detalle.id}) }}">show</a>
                    <a href="{{ path('app_detalles_edit', {'id': detalle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_detalles_new') }}">Create new</a>
{% endblock %}
